@import url('https://rawgit.com/meninaveneno/bondade20/master/Chat-Color.css');
@import url('https://rawgit.com/meninaveneno/bondade20/master/patentes.css');
@import url('https://rawgit.com/meninaveneno/whatever-u-want/master/icon.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/chat-color.css');
@import url('https://rawgit.com/meninaveneno/bondade20/master/background.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/colors.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/CoresStatusPerfil.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/chat.css');
@import url('https://rawgit.com/meninaveneno/bondade20/master/descricao.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/adicionais.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/user-meta.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/Adicionais2.css');
@import url('https://rawgit.com/meninaveneno/whatever-u-want/master/logo.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/header-panel-invisivel.css');
@import url('https://rawgit.com/JubileuW/-Bond-o-/master/extras/adicional3.css');

.left-side-wrapper { background-position-x: center !important; background-position-y: bottom !important;
background-repeat: no-repeat !important; background-size: 1600px 600px !important;
max-height: 900px !important; background-image: url(https://3.bp.blogspot.com/-mUWL2WWkgs8/Wspe2EJ4etI/AAAAAAAAKD8/mTgpxzLgW6gc7d7lQTfBR24Rll0dmJ49ACLcBGAs/s1600/maxresdefault%2B%25285%2529.jpg) !important;
}   

/* Whatever U Want™ Customização
Editado por Nana
*/


/* Version: 1.0.1 */
